<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        </encoder>
    </appender>

    <logger name="org.apache" level="WARN"/>
    <logger name="io.grpc" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="com.google.cloud.hadoop" level="WARN"/>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
